* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,
td,
th,
font,
p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  overflow: auto;
}
.fitparent {
  width: 100%;
  height: 100%;
}
.clear-float {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.disselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ui-apps {
  width: 100%;
  height: 100%;
}
.ui-apps-viewport {
  width: 100%;
  height: 100%;
  background: #AAF;
  overflow: hidden;
  position: relative;
}
.ui-apps-viewport .ui-apps-drawer {
  position: absolute;
  top: 0;
  left: 0;
}
.ui-apps-dock {
  position: fixed;
  background: #FF0;
  top: 0;
  left: 0;
}
.ui-apps-dock .ui-apps-dk-items {
  width: 32px;
}
.ui-apps-dock .ui-apps-dk-items img.ui-apps-icon {
  width: 24px;
  height: 24px;
}
.ui-apps-dock .ui-apps-dk-items .ui-apps-nm {
  position: absolute;
  width: 100px;
}
