* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,
td,
th,
font,
p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  overflow: auto;
}
/*------------------------------------------------------------------------------------*/
.fitparent {
  width: 100%;
  height: 100%;
}
/*------------------------------------------------------------------------------- 动画 */
/*--------------------------------------------------------------------------------- 三角形*/
/*------------------------------------------------------------------------------- 清除浮动*/
.clear-float {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/*------------------------------------------------------------------------------- 禁止鼠标选择 */
.disselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ui-apps {
  width: 100%;
  height: 100%;
  background-color: #AAA;
}
.ui-apps-viewport {
  width: 100%;
  height: 100%;
  background: #AAF;
  overflow: hidden;
}
.ui-apps-viewport .ui-apps-drawer {
  -moz-transition: top 0.3s ease-out;
  -webkit-transition: top 0.3s ease-out;
  -o-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
  top: 0;
  left: 0;
}
.ui-apps-viewport .ui-apps-drawer .ui-apps-dri {
  padding: 1px;
}
.ui-apps-viewport .ui-apps-drawer .ui-apps-dri .ui-apps-arena {
  width: 100%;
  height: 100%;
}
.ui-apps-dock {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 64px;
  text-align: center;
}
.ui-apps-dock .ui-apps-dk-items {
  /*----------------------------------------------------------- 当前的项目 */

  /*----------------------------------------------------------- 鼠标悬停提示 */

}
.ui-apps-dock .ui-apps-dk-items .ui-apps-dki {
  padding: 8px;
  position: relative;
  cursor: default;
}
.ui-apps-dock .ui-apps-dk-items .ui-apps-dki img.ui-apps-icon {
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 32px;
  height: 32px;
}
.ui-apps-dock .ui-apps-dk-items .ui-apps-current:before {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 0px;
  border: 6px solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
}
.ui-apps-dock .ui-apps-dk-items .ui-apps-dki-hover img.ui-apps-icon {
  width: 48px;
  height: 48px;
  margin-left: -7px;
}
